@font-face {
	font-family: 'Conv_HELR45W';
	src: url('fonts/HELR45W.eot');
	src: local('☺'), url('fonts/HELR45W.woff') format('woff'), url('fonts/HELR45W.ttf') format('truetype'), url('fonts/HELR45W.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  padding-top: 5rem;
  background: #333;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
